.wrapperAuth {
border-radius: 16px;
padding: 10px;
background-color:  rgba(17, 224, 121, 0.211);
color: #697e91;
max-width: 500px;
margin:10px
}



.wrapperAuth .auth {
align-items: center;
padding: 20px;
padding-top: 40px;
background-color: hsla(143, 26%, 700%, 0.259);;
border-radius: 12px;
width: 400px;
}
.socialButton{
    display: flex;
    justify-content: center;
    padding: 10px;
}
.bottom{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.bottom span{
    text-decoration: underline;
    cursor: pointer;
}