.container{
    padding: 20px 55px;
}
.container h2{
    color: #3b3b3b;
    font-size: 25px;
    margin-bottom: 50px;
}
.container h3{
    font-size: 15px;
    color: #686868;
    line-height: 1.5;
    margin-bottom: 15px;
}
.container p{
    font-size: 15px;
    color: #686868;
    line-height: 1.5;
    margin-bottom: 15px;
}
