.header-text {
    font-size: 30px;
    margin-top: 10px;
    color: #12538b;
    text-align: center;
}
.discription-text {
    font-size: 20px;
    margin-top: 15px;
}
.block-Menu-specialists {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 5px;
}
.menu-specialists {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 25px;
    row-gap: 25px;
    margin: 30px auto;
}
.text-link-request {
    cursor: pointer;
    font-size: 22px;
    color: #12538b;
}
.list-specialists{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
}
.request-container{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 325px;
    background-color: rgb(211 228 245);
    box-shadow: 0px 0px 8px rgb(40, 129, 206);
    padding: 10px;
    color: #1b1b1b;
}
.request-buttons-container{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-content: center;
    margin-top: auto;
}

.order-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 10%;
}
.order-item {
    border-radius: 15px;
    margin-bottom: 7px;
}
.field-flex {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    margin-top: 15px;
}
@media (max-width: 500px) {
    .menu-specialists {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 10px;
        row-gap: 15px;
    }
    .discription-text {
        text-align: center;
    }
}
