.recommendationCard{
    width: 32%;
    display: inline-block;
    text-align: center;
    padding:0 20px 50px;
}
.recommendationCard img{
    margin-bottom: 20px;
}
.recommendationCard h4{
    font-size: 16px;
    font-weight: 500;
    color: #4d4d51;
    line-height: 1.3;
    margin-bottom: 10px;
}
.recommendationCard p{
    color: #686868;
    line-height: 1.45;
    margin-bottom: 0;
}
@media (max-width: 500px) {
    .recommendationCard{
        width: 100%;
        padding: 10px 5px;
    }

}

  