.container{
    padding: 12px 55px;
    border-bottom: 1px solid #e3e3e3;
    background: hsla(0,0%,100%,.5);
}
.navTop{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.phoneCall{
    display: flex;
    justify-content: space-between;
    align-content: center;
}
.phoneCall span{
    line-height: 1.2;
    margin-top: 5px;
    font-weight: 300;
    opacity: .7;
    font-size: 12px;
    display: block;
    color: #444;
}
.phoneCall a{
    font-size: 15px;
    line-height: 1.3;
    color: #444;
}
.phoneCall img{
    margin-right:12px;
    vertical-align: -2px;
}
.phoneCall li{
    padding-inline: 20px;
}
.navTopRightSide{
    display: flex;
}