
.content {
width: 360px;
box-shadow: 2px 4px 10px rgba(0, 0, 0, .2);
border-radius: 60px;
overflow: hidden;
}

.subscription {
position: relative;
width: 100%;
height: 100%;
}

.subscription .addEmail{
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
border: none;
outline: none;
padding: 0 20px;
}

.subscription .submitEmail {
position: absolute;
top: 0;
right: 0;
height: calc(100% - 2px);
width: 100px;
border: none;
border-radius: 60px;
outline: none;
margin: 1px;
padding: 0 20px;
cursor: pointer;
background: #4ABEBB;
color: #FFFFFF;
transition: width .35s ease-in-out,
    background .35s ease-in-out;
}

.subscription.done .submitEmail {
width: calc(100% - 2px);
background: #C0E02E;
}

.subscription .submitEmail .beforeSubmit,
.subscription .submitEmail .afterSubmit {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
text-align: center;
line-height: 38px;
transition: visibility .35s ease-in-out,
    opacity .35s ease-in-out;
}

.subscription.done .submitEmail .beforeSubmit,
.subscription:not(.done) .submitEmail .afterSubmit {
visibility: hidden;
opacity: 0;
}

.subscription .submit-email .afterSubmit {
transition-delay: .35s;
}

.subscription:not(.done) .submitEmail .beforeSubmit,
.subscription.done .submitEmail .afterSubmit {
visibility: visible;
opacity: 1;
}