.header-text{
    font-size: 30px;
    margin-top: 10px;
    color: #12538b;
    text-align: center;
}
.list-services{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.title-service{
    padding-inline: 200px;
    font-size: 25px;
    margin-bottom: 30px;
}
@media (max-width: 500px) {
    .title-service{
        padding-inline: 0px;
    }
}

