.header-text{
    font-size: 30px;
    margin-top: 10px;
    color: #12538b;
    text-align: center;
}
.discription-text{
    font-size: 20px;
    margin-top: 15px;
}
.client-text{
    font-size: 17px;
    margin: 5px;
}