
.header-text{
    font-size: 30px;
    margin-top: 10px;
    color: #12538b;
    text-align: center;
}
.small-header-text{
    font-size: 16px;
    text-align: center;
    color: #318ce7;
}
.discription-text{
    font-size: 20px;
    margin-top: 15px;
}
.cards-hospital{
    display: flex;
    align-items: center;
}
@media (max-width: 500px) {
    .header-text{
        font-size: 24px;
        margin-top: 5px;
    }
    .small-header-text{
        font-size: 19px;
        margin-top: 5px;
    }
    .cards-hospital{
        flex-direction: column;
    }
    .discription-text{
        text-align: center;
    }
}
