.navigation-menu-container {
    width: 70%;
    margin: 5px auto 20px auto;
}

.navigation-menu-list {
    display: flex;
    justify-content: space-between;
    padding: 0px;
    list-style: none;
}

.navigation-menu-item {
    display: flex;
    height: 40px;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    width: 100%;
    float: left;
    background-color: rgb(40, 129, 206);
    color: #1b1b1b;
    transition-property: color, background-color;
    transition-duration: 0.3s;
}

.navigation-menu-item:hover {
    background-color: rgb(26, 85, 137);
}

.navigation-menu-item-text {
    text-align: center;
    font-weight: 600;
    font-size: 15px;
    margin: 5px;
}

@media (max-width: 500px) {
    .navigation-menu-container {
        margin: 10px auto;
        width: 90%;
    }
    .navigation-menu-list {
        flex-direction: column;
        transition: 0.5s;
    }
    .navigation-menu-item {
        margin: 5px;
        box-shadow: 0px 0px 5px rgb(40 129 206);
    }
    .open-menu {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 26px;
        color: #12538b;
        text-align: center;
    }
    .open-menu:hover {
        color: #072a48;
    }
    .btn-menu {
        width: 25px;
        height: 25px;
        padding-inline: 30px;
        position: relative;
    }
    .btn-menu:before {
        content: '';
        top: 0;
        position: absolute;
        width: 25px;
        height: 2px;
        background-color: rgb(40, 129, 206);
    }
    .btn-menu::after {
        content: '';
        bottom: 0;
        position: absolute;
        width: 25px;
        height: 2px;
        background-color: rgb(40, 129, 206);
    }
    .btn-menu span {
        content: '';
        top: 11px;
        position: absolute;
        width: 25px;
        height: 2px;
        background-color: rgb(40, 129, 206);
    }
    .btn-menu-active .btn-menu {
        opacity: 0;
    }
    .navigation-menu-list {
        transform: translateX(-150%);
        animation: ani 1s forwards;
    }

    @keyframes ani {
        0% {transform: translateX(-150%);}
        100% {transform: translateY(0);}
    }
}
